@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");

.dd-wrapper {
    font-size: 12px;
}

.dd-header {
    padding: 3px 17px 3px 17px;
    display: flex;
    /* VISUALS */
    border: 0.6px solid rgb(111, 111, 111);
    border-radius: 50px;
    box-shadow: none;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}

.dd-header:hover {
    /* VISUALS */
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 4px 0.5px #878787 inset;
}

.dd-header-title {
    margin-right: 5px;
}

.dd-header-editamount input {
    width: 50px;
    margin: 0px 10px 0px 10px;
    /* VISUALS */
    border-radius: 50px;
    box-shadow: 0 0 1.5px 1.5px #878787 inset;
    /* FONT */
    text-align: center;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
}
.dd-header-balance .balance {
    margin: 0 3px 0 3px;
    padding: 0 10px;
    /* VISUALS */
    border-radius: 50px;
    box-shadow: 0 0 1.5px 1.5px #878787 inset;
    background-color: rgb(243, 243, 243);
    /* FONT */
    font-weight: 500;
    font-family: "Roboto Slab", serif;
}

.dd-header-dropicon {
    margin-left: 7px;
}
.dd-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* VISUALS */
    border: 1px solid black;
    border-radius: 10px;
}
