@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

.main__gap {
    height: 100px;
}

.main__container {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    font-family: "Raleway", sans-serif;
}

.main__dropdowncontainer {
    display: flex;
    align-items: start;
}

.main__dropdown {
    margin: 0px 15px 0px 0px;
}

.main__swapbutton {
    font-size: 12px;
    color: #fff;
    padding: 3px 17px;
    /* VISUALS */
    border: 0.6px solid rgb(111, 111, 111);
    border-radius: 50px;
    background-color: #00de60;
    box-shadow: none;
    transition: background-color 0.2s;
    transition: box-shadow 0.2s;
}

.main__swapbutton:hover {
    /* VISUALS */
    background-color: #00bc52;
    box-shadow: 0 0 4px 0.5px #00471f inset;
}
