.faucet__hero {
    margin-top: 70px;
    padding: 0px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.faucet__body {
    display: flex;
    justify-content: center;

    margin-top: 30px;
    padding: 0px 100px;
}

.faucet__faucetform {
    width: 100%;
}
